body {
    font-family: 'Quicksand', sans-serif;
    background-color: #2c2c54;
    background-image: url("https://wallpapers.com/images/hd/purple-aesthetic-laptop-xuo9xvjiiwjfy7tb.jpg");
    color: #f1f1f1;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background-color: #3b3a63;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.login-container h2 {
    font-family: 'Playfair Display', serif;
    color: #d5a6e0;
}
.form-control {
    background-color: #5f5fa6;
    color: white;
    border: none;
}
.form-control:focus {
    background-color: #8e8eb3;
    box-shadow: none;
}
.btn-custom {
    background-color: #d5a6e0;
    color: #fff;
    border-radius: 20px;
    padding: 10px 30px;
}
.btn-custom:hover {
    background-color: #b77abf;
}
a {
    color: #d5a6e0;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}